<html>
<style type="text/css">
    body { color: #efd; background: #453; padding: 0 5em; margin: 0 }
    h1 { padding: 2em 1em; background: #675 }
    h2 { color: #bf8; border-top: 1px dotted #fff; margin-top: 2em }
    h3 { color: #b08; border-top: 1px dotted #fff; margin-top: 2em }
    p { margin: 1em 0 }
</style>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    {% block head %}
        <title>Musings</title>
    {% endblock %}
</head>
<body>
    <h1>Musings of a restless mind</h1>
    {% block content %}
    {% endblock %}
    {% block body %}{% endblock %}
</body>
</html>
